<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/deposits_update/{{ id }}">THE Money Manager</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" ng-class="{collapse: isCollapsed}">
    <ul class="nav navbar-nav">
      <li><a href="#/summary">Summary</a></li>
      <li class="active"><a href="#/deposits">Deposits</a></li>
      <li><a href="#/categories">Categories</a></li>
      <li><a href="#/account">Account</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-controller="loginController">
      <li><a href="#/" ng-click="logout()">Sign out <i class="fa fa-sign-out"></i></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>
<div class="container">
    <div class="row" id="tableheader" style="padding: 10px; border-radius: 50px">
        <div class="col-md-6">
            Update Deposit
        </div>
        <div class="col-md-6">
            <span class="pull-right">{{ depositDate | date:"fullDate" }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2" align="right">
            <strong>Gross:&nbsp;&nbsp;&nbsp;{{ depositGross | currency }} <i class="fa fa-refresh link" ng-click="updateGrossAmount()"></i></strong>
        </div>
        <div class="col-xs-2" align="right">
            <strong>Net:&nbsp;&nbsp;&nbsp;{{ depositNet | currency }} <i class="fa fa-refresh link" ng-click="updateNetAmount()"></i></strong>
        </div>
    </div>
    <br>
    <table ng-if="user.deposit != 'a'" class="table table-striped table-borders table-condensed">
        <thead>
            <tr style="background-color: darkcyan; color:azure">
                <td colspan="4">
                    <strong><i>By Percentage</i></strong>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="percentage in percentages track by $index" ng-init="setDepositTotal(percentage)">
                <td ng-style="negativeValue(retrieveTotal(percentage.category))" align="right">
                    <strong>{{ retrieveTotal(percentage.category) | currency }}</strong>
                </td>
                <td align="right">
                   {{ percentage.name }}&nbsp;&nbsp;<a class="link" title="{{ percentage.description }}">?</a>&nbsp;&nbsp;
                </td>
                <td align="right">
                    <input ng-if="deposit.finalized != 'Y'" size="5" ng-model="percentage.percent" string-to-number type="text" min="0" step="any" value="{{ percentage.percent }}" ng-change="change(percentage.name)" ng-blur="update(percentage.name)" />
                </td>
                <td align="right">
                    {{ percentage.calculatedAmount | currency }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td align="right">
                    <span ng-if="canFinalize" class="finalize" ng-click="save()"><i class="fa fa-save"></i> FINALIZE</span>
                </td>
                <td align="right">
                    {{ percentages | totalDepositPercent:'percent':depositDate | percentage:2 }}
                </td>
                <td align="right">
                    {{ percentages | totalDepositAmount:'net':'percent':depositDate | currency }}
                </td>
            </tr>
        </tfoot>
    </table>
    <table ng-if="user.deposit == 'a'" class="table table-striped table-borders table-condensed">
        <thead>
            <tr style="background-color: darkcyan; color:azure">
                <td colspan="4">
                    <strong><i>By Amount</i></strong>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="percentage in percentages track by $index" ng-init="setDepositTotal(percentage)">
                <td ng-style="negativeValue(retrieveTotal(percentage.category))" align="right">
                    <strong>{{ retrieveTotal(percentage.category) | currency }}</strong>
                </td>
                <td align="right">
                   {{ percentage.name }}&nbsp;&nbsp;<a class="link" title="{{ percentage.description }}">?</a>&nbsp;&nbsp;
                </td>
                <td align="right">
                    {{ percentage.calculatedAmount | currency }}
                </td>
                <td align="right">
                    <input ng-if="deposit.finalized != 'Y'" size="5" ng-model="percentage.percent" string-to-number type="text" min="0" step="any" value="{{ percentage.percent }}" ng-change="change(percentage.name)" ng-blur="update(percentage.name)" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td align="right">
                    <span ng-if="canFinalize" class="finalize" ng-click="save()"><i class="fa fa-save"></i> FINALIZE</span>
                </td>
                <td align="right">
                    {{ percentages | totalDepositPercent:'percent':depositDate | percentage:2 }}
                </td>
                <td align="right">
                    {{ percentages | totalDepositAmount:'net':'percent':depositDate | currency }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>