<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Menu Planner</a>
    </div>
    <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}">
      <ul class="nav navbar-nav pull-right">    
        <li><a class="pull-right" href="#/menus">Menus <i class="fa fa-calendar-o"></i></a></li>
        <li><a class="pull-right" href="#/account">Account <i class="fa fa-user"></i></a></li>
        <li><a class="logout-link pull-right" href="#/">Sign out <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<ol class="breadcrumb">
  <li>Welcome {{ userFirstName }}!</li>
  <li class="active"><i class="fa fa-bars"></i> Meals</li>
</ol>

<div class="container box">
    <div class="row">
        <div class="col-md-12">
            <h1 class="heading">Plan New Menu <span class="badge">{{ mealcount }}</span></h1>
            Choose menu:&nbsp;&nbsp;
            <input type="radio" name="rdoType" value="b" ng-model="mealtype" ng-change="checkMealCount('b')"/>Breakfast&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoType" value="l" ng-model="mealtype" ng-change="checkMealCount('l')"/>Lunch&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoType" value="d" ng-model="mealtype" ng-change="checkMealCount('d')"/>Dinner
            <br>
            <div class="well well-sm">Select your meals and click on the 'Make Grocery List' to continue.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr ng-repeat="meal in allmeals | filter: {category:mealtype}">
                    <td width="30px">
                      <input type="checkbox" checklist-model="getIds()" checklist-value="meal.id" ng-change="check(meal.id, checked)"/>
                    </td>
                    <td>
                        {{ meal.name }}
                    </td>
                    <td width="30px">
                        <i class="fa fa-trash fa-lg" ng-click="deleteMeal(meal)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11">
            <input class="form-control" ng-model="name" type="text" placeholder="Enter new meal name" />
        </div>
        <div class="col-xs-1">
            <button class="btn btn-primary" ng-click="saveMeal()">Save</button>
        </div>
    </div>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-6" align="center">
            <button ng-disabled="isDisabled" type="submit" class="btn btn-primary" ng-click="makeGroceryList()"><i class="fa fa-edit"></i> Make Grocery List</button>
        </div>
        <div class="col-xs-6" align="center">
            <button ng-disabled="isDisabled" type="reset" class="btn btn-primary" ng-click="reset()"><i class="fa fa-refresh"></i> Reset Selections</button>
        </div>        
    </div>
</div>